[Unit]
Description=NextCloud_Backup

[Service]
Type=oneshot
User=root
ExecStart=sh -c 'docker exec --user www-data NextCloud php occ maintenance:mode --on'
ExecStart=sh -c 'docker exec --user www-data NextCloud rsync -Aavx . /mnt/Backup/Nextcloud/$(date +"%%Y-%%m-%%d")/ >> /var/log/Nextcloud_Backup/$(date +"%%Y-%%m-%%d").txt'
ExecStart=sh -c 'docker exec --user www-data NextCloud php occ maintenance:mode --off'

WorkingDirectory=/
